

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  // vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:visited, a:hover, a:focus, a:active {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}

div, p {outline:none;}

h1, h2, h3 {
    letter-spacing: 0.05em;
}

li {
    list-style-type: none; /* Убираем маркеры */
}
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

//------Reset css end--------------------------------------

html, body {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

body {
    @include ptSans(400);
    font-size: 14.58px;
    color: $silverT;
    // max-width: 1920px;
    // margin: 0 auto;
}

//
main {
    width: 100%;
    position: relative;
    flex: 1 0 auto;

}
// footer {
//   flex: 0 0 auto;
// }



img {
  display: block;
  width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    @include max-screen(1250px) {
        padding-right: 15px;
        padding-left: 15px;
    }
    @include max-screen(1200px) {
        max-width: 1140px;
    }
    @include max-screen(992px) {
        max-width: 960px;
    }
    @include max-screen(768px) {
        max-width: 720px;
    }
    @include max-screen(576px) {
        max-width: 540px;
        // height: 100%;
        // padding-right: 15px;
        // padding-left: 15px;
        // .lc-wrapper {
        //   height: 100%;
        //   width: 100%;
        //   .lc-cntnt {
        //     height: 100%;
        //   }
        // }
    }
}

.fixed {
	widows: 100%;
	overflow: hidden;
}

.breadcrumbs {
  font-size: 12.5px;
  @include ptSans(400);
  color: $silverT;
  margin-top: 26px;
}

.title-h2 {
  font-size: 41.67px;
  letter-spacing: 0px;
  @include ptSans(400);
  .title-h2-color {
    color: $btn;
    @include ptSans(700);
  }
  @include max-screen(576px) {
    font-size: 30px;
  }
}

.title-h3 {
  font-size: 19.17px;
  letter-spacing: 0px;
  line-height: 1.1;
  @include ptSans(400);
}

.main-btn {
  width: 225px;
  height: 45px;
  display: block;
  background-color: $btn;
  border: 2px solid $btn;
  color: $white;
  font-size: 13.5px;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box;
  transition: .5s;
  @include ptSans(400);
  &:hover {
    background-color: $white;
    color: $btn;
  }
  .flaticon-arrow-pointing-to-right::before {
    font-size: 16px;
    margin-left: 14px;
    display: inline-block;
  }
}

.main-box__left-two {
  &:hover {
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
  }
}
