$black: #000000;
$white: #ffffff;
// $btn: #951213;
// $cap: #821617;
$btn: #a84942;
$cap: #a84942;
$silverT: #666565;
$silverSr: #918d8d;
$silverSv: #cccccc;
$silverSv1: #d1d0d0;
$fiolet: #6358a1;
$salat: #77bb8e;
$beryuz: #6aa7b8;
$rozoviy: #df856c;
$headline: #a84942;

//  @include ptSans(400);
//  @include gothamPro(400);
